body{

    font-family: Arial, sans-serif;
    
}

img{
    margin-left: 10px;
}

header{
    margin: 0;
    background-color: #333;
    
}

header h1{
    margin-bottom: 0px !important;
}

a{
    color: rgb(229, 153, 0);
}

.baterias{
    color: rgb(255, 170, 0);
    text-decoration: none;
    font-size: 32px;
    
}

p{
    margin: 10px;
    text-align: justify;
}

nav{
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;


}

nav ul li{
    float: left;
    
}

nav ul li a{
    display: block;
    color: white;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 200ms ease-out 100ms;
    
}
.active {
    background-color: rgb(255, 181, 70);
}

li a:hover {
    background-color: rgb(225, 150, 38);
}

